{{#each this}}
    <ul>
    		<div class="VoteButton Up" id={{id}}>
    			<button type="button">Vote Up!</button>
    		</div>
    		<div class="VoteButton Down" id={{id}}>
    			<button type="button">Vote Down!</button>
    		</div>
        <li id="Name">{{Name}}</li>
        <li id="Quote" style="display:inline;">{{Quote}}</li>
        <li class="NumVotes" style="display:inline; float:right;">{{Votes}}</li>
        ======================================================
    </ul>
{{/each}}